@model IEnumerable<AccountTransaction>

@{
    ViewData["Title"] = "GetAccountsTransactions";
}

<h1>Transaktioner</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Overført beløb
            </th>
            <th>
                Disponibelt før overførsel
            </th>
            <th>
                Transaktionstype
            </th>
            <th>
                Dato og tidspunkt for transaktion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferedAmmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceBeforeTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountTransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                @* <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
            </tr>
        }
    </tbody>
</table>
