@using System.Security.Claims
@model IEnumerable<BankingSystem.UI.Models.Account>

@{
    ViewData["Title"] = "Index";
    var userNameClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
}

<h1>@userNameClaim's accounts</h1>

<p>
    <a asp-action="CreateAccount" class="btn btn-sm btn-outline-dark">Opret konto</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Kontoens navn
            </th>
            <th>
                Disponibelt
            </th>
            <th>
                Konto type
            </th>
            <th>
                Vælg en handling
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.AccountId" class="btn btn-sm btn-warning">Edit</a> *@
                    @* <a asp-action="Details" asp-route-id="@item.AccountId" class="btn btn-sm btn-info">Details</a> *@
                    <a asp-action="DepositAmount" asp-route-id="@item.AccountId" class="btn btn-sm btn-outline-dark">Indbetal</a>
                    <a asp-action="WithdrawAmount" asp-route-id="@item.AccountId" class="btn btn-sm btn-outline-dark">Udbetal</a>
                    <a asp-controller="Transactions" asp-action="GetAccountsTransactions" asp-route-accountId="@item.AccountId" class="btn btn-sm btn-outline-dark">Se transaktioner</a>
                    <a asp-action="Delete" asp-route-id="@item.AccountId" class="btn btn-sm btn-outline-danger">Slet konto</a>
                </td>
            </tr>
        }
    </tbody>
</table>
